In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
#Store fatal shooting Set 1 CSV into DataBase

csv_file = "../Data/fatal-police-shootings-data.csv"
shooting1_df = pd.read_csv(csv_file)
shooting1_df.head()

csv_file2 = "../Data/2015NU.csv"
shooting2_df = pd.read_csv(csv_file2)

In [4]:
shooting1_df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False

In [5]:
shooting2_df.head()

,uid,name,age,gender,raceethnicity,armed,month,day,year,streetaddress,city,state,latitude,longitude,classification,lawenforcementagency
0,2,Matthew Ajibade,22,Male,Black,No,January,1,2015,1050 Carl Griffin Dr,Savannah,GA,32.066691,-81.167881,Death in custody,Chatham County Sheriff's Office
1,4,Lewis Lembke,47,Male,White,Firearm,January,2,2015,4505 SW Masters Loop,Aloha,OR,45.487473,-122.891698,Gunshot,Washington County Sheriff's Office
2,5,Michael Kocher Jr,19,Male,White,No,January,3,2015,2600 Kaumualii Hwy,Kaumakani,HI,21.933347,-159.641972,Struck by vehicle,Kauai Police Department
3,6,John Quintero,23,Male,Hispanic/Latino,No,January,3,2015,500 North Oliver Ave,Wichita,KS,37.693797,-97.280549,Gunshot,Wichita Police Department
4,7,Tim Elliott,53,Male,Asian/Pacific Islander,Firearm,January,2,2015,600 E Island Lake Dr,Shelton,WA,47.246534,-123.119497,Gunshot,Mason County Sheriff's Office

In [6]:
shooting1_df.dtypes

id                           int64
name                        object
date                        object
manner_of_death             object
armed                       object
age                        float64
gender                      object
race                        object
city                        object
state                       object
signs_of_mental_illness       bool
threat_level                object
flee                        object
body_camera                   bool
dtype: object

In [7]:
shooting2_df.dtypes

uid                       int64
name                     object
age                      object
gender                   object
raceethnicity            object
armed                    object
month                    object
day                       int64
year                      int64
streetaddress            object
city                     object
state                    object
latitude                float64
longitude               float64
classification           object
lawenforcementagency     object
dtype: object

In [8]:
#shooting2_df.drop(shooting2_df.index[shooting2_df['age'] == 'UNKNOWN'], inplace = True)

In [9]:
shooting2_df["age"].unique()
shooting2_df.drop(shooting2_df.index[shooting2_df['age'] == 'Unknown'], inplace = True)

In [10]:
shooting2_df["age"].unique()

array(['22', '47', '19', '23', '53', '32', '39', '25', '26', '34', '35',
       '30', '31', '37', '42', '28', '36', '49', '33', '71', '29', '43',
       '24', '68', '75', '87', '27', '48', '57', '69', '41', '21', '67',
       '45', '54', '17', '56', '61', '59', '44', '40', '18', '38', '51',
       '74', '46', '50', '20', '16', '63', '62', '58', '64', '52', '60',
       '77', '83', '72', '76', '55', '66', '85', '15', '65', '6'],
      dtype=object)

In [11]:
#Change date from object to datetime64
shooting1_df['date'] = pd.to_datetime(shooting1_df['date'])

In [12]:
shooting1_df.dtypes

id                                  int64
name                               object
date                       datetime64[ns]
manner_of_death                    object
armed                              object
age                               float64
gender                             object
race                               object
city                               object
state                              object
signs_of_mental_illness              bool
threat_level                       object
flee                               object
body_camera                          bool
dtype: object

In [15]:
shooting_merge = pd.merge(shooting1_df, shooting2_df, on="name", how="left")
shooting_merge

,id,name,date,manner_of_death,armed_x,age_x,gender_x,race,city_x,state_x,...,month,day,year,streetaddress,city_y,state_y,latitude,longitude,classification,lawenforcementagency
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,...,January,4.0,2015.0,630 Valencia St,San Francisco,CA,37.762849,-122.422005,Gunshot,San Francisco Police Department
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,...,January,5.0,2015.0,818 31st St,Evans,CO,40.384063,-104.692090,Gunshot,Evans Police Department
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5337,5815,TK TK,2020-05-20,shot,gun,NaN,M,NaN,Viera,FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5338,5836,Michael Snyder,2020-05-24,shot,gun,44.0,M,NaN,Bulls Gap,TN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5339,5837,Gary P. Dorton,2020-05-25,shot,knife,43.0,M,NaN,Jonesborough,TN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5340,5839,TK TK,2020-05-25,shot,gun,38.0,M,H,Houston,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5341,5838,John Allen Dunaway,2020-05-26,shot and Tasered,undetermined,61.0,M,W,Jacksonville,FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#Connect to local dtabase

rds_connection_string = "postgres:postgres@localhost:5432/shooting_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [14]:
#check for tables 

engine.table_names()

['fatal_police_shootings']